<html>
    <head>
        <title>Tester</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <nav>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </nav>
        <main>
            <!-- Buttons -->
            <section id="menu" class="align-right">
                <button class="btn btn-main" id="edit-button">Edit Post</button>
                <button class="btn btn-delete" id="delete-button">Delete</button>
            </section>

            <!-- To view the post -->
            <div id="view-post">
                <section class="post"></section>
<!--                <section class="comments"></section>-->
                <section class="align-right">
                    <button class="btn btn-com-create" id="create-com-button">Add a comment</button>
                </section>
                <section id="comment-create" class="hide">
                    <h3>Add New Comment</h3>
                    <form id="comment-form" method="POST">
                        <div class="input-section">
                            <label for="author">Author</label>
                            <input type="text" name="author" id="author">
                        </div>
                        <div class="input-section">
                            <label for="content">Content</label>
                            <textarea name="comment" id="content"></textarea>
                        </div>
                        <button class="btn btn-main" id="save" type="button">Save</button>
                        <a class="btn" id="cancel">Cancel</a>
                    </form>
                    <section id="confirmation" class="hide">
                        <p>
                            Your post was successfully added. <a href="/">Check it out</a>.
                        </p>
                    </section>
                </section>
            </div>

            <!-- To edit the post -->
            <form id="post-form" class="hide"></form>

            <!-- TODO: Add the comments associated with this blog below: -->
            <div id="view-comments" class="comments">
<!--                <section class="comments"></section>-->
            </div>



        </main>



        <!--  JavaScript files right before the closing body tag -->
        <script type="text/javascript" src="/static/js/post-detail.js"></script>
    </body>
</html>